<h1>Cadre général</h1>
Le projet "Where Should I live" a été réalisé dans le cadre du "Challenge open data" de la troisième année du cursus d’ingénieur en Ingénierie des SI à l’Ensimag.

<h1>Objectif de l’application</h1>
Notre application "Where Should I Live vise" à assister l’utilisateur dans le choix d’un quartier où emménager dans Grenoble même. Elle permet donc de comparer les différents quartiers selon de multiples critères (transport, réseaux, commerces…) afin de trouver celui convenant le mieux aux priorités de l’utilisateur.


<h1>Données utilisées</h1>
<p>
Pour réaliser les visualisations nous avons utilisé les Open Data suivantes : <br />
<ul>
<li>Les antennes gsm (<a href="http://data.beta.metropolegrenoble.fr/dataset/antenne-gsm-sur-le-territoire-grenoblois">http://data.beta.metropolegrenoble.fr/dataset/antenne-gsm-sur-le-territoire-grenoblois</a>)
</li>
<li>
Les arrêts de bus, tramway, car et lignes sncf (<a href="http://data.beta.metropolegrenoble.fr/dataset/arrets-bus-et-tramways">http://data.beta.metropolegrenoble.fr/dataset/arrets-bus-et-tramways</a>)
</li>
<li>
Les stations Cité Lib (<a href="http://data.beta.metropolegrenoble.fr/dataset/stations-citelib">http://data.beta.metropolegrenoble.fr/dataset/stations-citelib</a>)
</li>
<li>
Les pistes cyclables (<a href="http://data.beta.metropolegrenoble.fr/dataset/pistes-cyclables">http://data.beta.metropolegrenoble.fr/dataset/pistes-cyclables</a>)
</li>
<li>
Les restaurants Grenoblois (<a href="http://overpass-api.de/api/interpreter?data=[out:json];area[name=%22Grenoble%22]-%3E.a;(node(area.a)[amenity=restaurant];);out;">http://overpass-api.de/api/interpreter?data=[out:json];area[name=%22Grenoble%22]-%3E.a;(node(area.a)[amenity=restaurant];);out;</a>)
</li>
<li>
Les supermarchés Grenoblois (<a href="http://overpass-api.de/api/interpreter?data=[out:json];area[name=%22Grenoble%22]-%3E.a;(node(area.a)[shop=supermarket];);out;)">http://overpass-api.de/api/interpreter?data=[out:json];area[name=%22Grenoble%22]-%3E.a;(node(area.a)[shop=supermarket];);out;</a>)</li>
<li>
Le contour de Grenoble (<a href="http://overpass-api.de/api/interpreter?data=[out:json];(rel[name=Grenoble];%3E;);out;">http://overpass-api.de/api/interpreter?data=[out:json];(rel[name=Grenoble];%3E;);out;</a>)
</li>
</ul>
</p>