<section>
  <header class="page-header">
    <h1>Comparaison mono-critère <small>({{getTrad(crit.criteria)}})</small></h1>
  </header>

  <criterias data="crit" dimensions="criterias" formtype="radio" load="loadData()"></criterias>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Adéquation du critère avec les différents quartiers.</h3>
    </div>
    <div class="panel-body">
        <div bubble chart-data="data"></div>
    </div>
  </div>

</section>