<section>
  <header class="page-header">
    <h1>Comparaison mono-critère <small>({{getTrad(crit.criteria)}})</small></h1>
  </header>

  <criterias data="crit" dimensions="criterias" formtype="radio" load="loadData()"></criterias>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Adéquation du critère avec les différents quartiers.</h3>
    </div>
    <div class="panel-body">
        <div bubble chart-data="data"></div>
        <div class="alert alert-info" role="alert" >
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> 
          La taille des bulles est fonction de l'adéquation avec le critère choisi. <br />Les quartiers ayant la plus forte adéquation avec le critère choisi ont les bulles les plus grosses.
        </div>
    </div>
  </div>


</section>