<section>
  <header>
    <h1>Carte contextualisée</h1>
  </header>

  <criterias data="data.weight" dimensions="data.dimensions" formtype="checkbox" load="loadData()"></criterias>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Bubble chart</h3>
    </div>
    <div class="panel-body">
      <leaflet layers="layers" legend="legend" defaults="defaults" center="center" height="480px" width="100%" markers="markers" ></leaflet>
      <div class="overNeightborhood">
        {{ overNeightborhood.properties.name || 'Pas de quartier'}}
      </div>
      <div class="selectedNeightborhood">
        {{ selectedNeightborhood.feature.properties.name || 'Pas de quartier selectionné'}}
      </div>
    </div>
  </div>
</section>
