<section>
  <header class="page-header">
    <h1>Comparaison multi-critères</h1>
  </header>


 <criterias data="data.data" dimensions="data.dimensions" formtype="checkbox" load="loadData()"
 ref-link="#/" ref-txt="Carte Contextualisée" ref-icon="../../images/map.png"></criterias>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Adéquation des critère avec les différents quartiers.</h3>
    </div>
    <div class="panel-body">
        <div parallelcoordinates chart-data="data"></div>
    </div>
  </div>

</section>