<section>
  <header class="page-header">
    <h1>Comparaison multi-critères</h1>
  </header>


 <criterias data="data.data" dimensions="data.dimensions" formtype="checkbox" load="loadData()"
 ref-link="#/" ref-txt="Carte Contextualisée" ref-icon="../../images/map.png"></criterias>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Adéquation des critère avec les différents quartiers.</h3>
    </div>
    <div class="panel-body">
        <div parallelcoordinates chart-data="data"></div>
<br />
        <div class="alert alert-info" role="alert">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> 
          Les données sont représentées sur une échelle allant de 0 à 100. <br />Le score de 100 représente la meilleure adéquation observée entre un critère et les différents quartiers, alors que 0 représente la moins bonne. 
          
        </div>
    </div>
  </div>

</section>